// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #1A1E21;
$secondary: #E5E1DE;
$accent: #F2A52A;

$dark: #272E32;
$dark-page: #1A1E21;

$positive: #21BA45;
$negative: #ba2222;
$info: #31CCEC;
$warning: #F2C037;
$disabled: #6B7280;

// Quasar variables
$input-font-size: 13px;
$body-font-size: 13px;
$body-line-height: 16px;

$breakpoint-xs: 640px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1535px;

$typography-font-family: 'Atkinson Hyperlegible', 'Roboto', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif !default
